@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
  background-color: gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar{
  display: flex;
  justify-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section{
  font-size: x-large;
  
}